*
!.gitignore
!.gitattributes
!.dockerignore
!Dockerfile
!README.md
!upstream.lock.json
!package.json
!package-lock.json
!branding/
!branding/**
!scripts/
!scripts/**
!tests/
!tests/**
!docs/
!docs/**
!deploy/
!deploy/**
!LICENSE.upstream
!playwright.config.mjs
!release/
!release/**
**/.env*
**/node_modules/
**/__pycache__/
**/*.pyc
**/*.pem
**/*.key
**/*.sqlite*
**/*.db
**/*inspect*.json
